<%- include('parts/header', {page: 'books'}); %>

<html>
<style>


</style>
  <head>
    <script src="http://www.paypalobjects.com/js/external/paypal-button.min.js"></script>
  </head>
  <body>
    <div class="container">
    	<table id="cart" class="table table-hover table-condensed">
        				<thead>
    						<tr>
                  <th style="width:25%">Image</th>
    							<th style="width:50%">Name</th>
    							<th style="width:25%">Price</th>

    						</tr>
    					</thead>
    					<tbody>
    						<tr>
    							<td data-th="Product">
    								<div class="row">
    									<div class="col-sm-2 "><img src="<%= book.image %>" alt="..." class="img-responsive"/></div>
    									<div class="col-sm-10">

    									</div>
    								</div>
    							</td>
    							<td data-th="Price"><%= book.name %></td>
                  <td><%= book.price %> Kuwaiti dinar</td>


    						</tr>
    					</tbody>
    					<tfoot>

    						<tr>

    							<td>

                <a href="<%= url %>">
                  <input class="btn btn-success btn-block"  type="submit" name="submit" border="0"
                    value="Check Out >"
                    alt="Buy Now">
                  </a>



    						</tr>
    					</tfoot>
    				</table>
    </div>


  </body>
</html>
