

<%- include('parts/header', {page: 'Users'}); %>
<%- include('parts/slide_bar'); %>
<style type="text/css">
 .edit:hover {
   cursor: pointer;
}
.animated:hover {
   cursor: pointer;
}
</style>
<div class="container">
<script type="text/javascript">



 $(document).ready(function(){

var table = $('#datatable-buttons').DataTable();

   $(".paid-users").click(function(){
    table.search('نعم').draw();
   })
   $(".all-users").click(function(){
     table.search('').draw();
   })
   $(".normal-users").click(function(){
     table.search('لا').draw();
   })


   $(".pay").click(function(){
     var months = prompt('ما عدد الاشهر التى تريد اضافتها ؟');
     var user_id = $(this).attr('user');
     $.get('/pay-per-month',{
       user_id,
       months
     },function(data){
       window.location = '/users';
     })
   });



   $("#admin").click(function(){
     var user_id = $(this).attr('user');
     $.get('/make-admin',{
       user_id
     },function(data){
       window.location = '/users';
     })
   })



     $("#pay2").click(function(){
     var months = prompt('ما عدد الاشهر التى تريد حذفها ؟');
     var user_id = $(this).attr('user');
     $.get('/pay-per-month',{
       user_id,
       months: -months
     },function(data){
       window.location = '/users';
     })
   });

  })
  $(document).ready(function(){
    $(".edit").click(function(){
     var id = $(this).attr('id');
     var type = $(this).attr('type');
     var new_name = prompt('تريد تغيره الى ماذا ؟');
     var what = $(this).attr('what');
     if(type == "university"){
       if(new_name != null){
         $.get('/change-university',{
             id,
             new_name,
             what
           },function(data){
             console.log(data);

           })
       }
     }
     else if(type == "sector") {
       if(new_name != null){
         $.get('/edit-sector',{
             id,
             new_name,
             what
           },function(data){
             console.log(data);

           })

       }
     }
     else if(type == "subject") {
       if(new_name != null){
         $.get('/change-subject',{
             id,
             new_name,
             what
           },function(data){
             console.log(data);

           })

       }
     }
     else if (type == "note") {
       if(new_name != null){
         $.get('/change-book',{
             id,
             new_name,
             what
           },function(data){
             console.log(data);

           })
       }
     }
     else if(type == "video"){
       if(new_name != null){
       $.get('/edit-video',{
           id,
           new_name,
           what
         },function(data){
           // location.reload();
           console.log(data);
         })
       }
     }

    })
  })

</script>
<!-- Table -->
<!-- page content -->


<div class="col-md-10 col-sm-9 col-xs-9">

        <a href="/books"> <div style="margin-top:20px;" class="">
           <div class="row top_tiles">
             <div class="animated flipInY all-users col-lg-12 col-md-12 col-sm-12 col-xs-12">
               <div class="tile-stats text-center">
                 <div class="icon"><i style="padding-top:20px;"  class="fa fa-book"></i></div>
                 <div class="count"> <%= universities.length %></div>
                 <h3>عدد الجامعات</h3>
               </div>
             </div>
           </a>




<div class="col-md-12 col-sm-9 col-xs-12">
                           <div class="x_panel">
                             <div class="x_title">
                               <h2>شجره | <small>المواد</small></h2>
                               <ul class="nav navbar-right panel_toolbox">

                                 <li><a class="close-link"><i class="fa fa-close"></i></a>
                                 </li>
                               </ul>
                               <div class="clearfix"></div>
                             </div>
                             <div class="x_content">




                               <div class="btn btn-link collapsed" type="button" >
                                 <h4 style="background-color: #33b5bb;text-align: center;border-radius: 10px;padding: 10px;color: white;">

                                 <a href="/add-university" target="_blank"> اضافه جامعه</a>

                                 </h4>
                                 </div>

                               <div class="accordion" id="accordion">
                                 <% universities.forEach(function(university){
                                  %>

  <div class="card row">
    <div style="" class="" id="heading<%= university.id %>">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse<%= university.id %>" aria-expanded="false" aria-controls="collapse<%= university.id %>">
          <h1 style="color:#000;font-weight:bold;"><%= university.name %> <i id="<%= university.id  %>" class="fa edit fa-pencil-square-o" type="university" aria-hidden="true" what="name"></i></h1>
          <a style="color:red" href="edit-university-images?id=<%= university.id  %>" target="_blank" >تعديل الصوره</a>
          <a style="color:red" href="delete-university?id=<%= university.id  %>" onclick="return confirm('هل تريد حذف هذا الكتاب حقا !');">X</a>

        </button>



    </div>
    <div id="collapse<%= university.id %>" class="collapse show" aria-labelledby="headingTwo" data-parent="#accordion">
      <div class="card-body">


<!-- Sectors level -->

<div style="margin-left:30px" class="accordion" id="sectors">

  <div style="margin-left:30px" class="accordion" id="subjects">
    <div class="btn btn-link collapsed" type="button" >
      <h4 style="background-color: #33b5bb;text-align: center;border-radius: 10px;padding: 10px;color: white;">

      <a href="/add-sector?id=<%= university.id %>" target="_blank"> اضافه قسم </a>

      </h4>
      </div>
  <% sectors.forEach(function(sector){
    if(sector.university_id == university.id){
   %>

<div class="card">
<div class="card-header" id="heading<%= sector.id %>">
<h5 class="mb-0">
<button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#sectors<%= sector.id %>" aria-expanded="false" aria-controls="sectors<%= sector.id %>">
<h3 style="color:white;background-color: #a76767;text-align: center;border-radius: 10px;padding: 10px;"><%= sector.name %>
  <i id="<%= sector.id  %>" class="fa edit fa-pencil-square-o" type="sector" aria-hidden="true" what="name"></i>
  <a style="color:red" href="/delete-sector?id=<%= sector.id %>" onclick="return confirm('هل تريد حذف هذا القسم حقا !');">X</a>
</h3>
</button>
</h5>
</div>
<div id="sectors<%= sector.id %>" class="collapse" aria-labelledby="headingTwo" data-parent="#sectors">
<div class="card-body">
<!-- subjects Level -->

<div style="margin-left:30px" class="accordion" id="subjects">
  <div class="btn btn-link collapsed" type="button" >
    <h4 style="background-color: #33b5bb;text-align: center;border-radius: 10px;padding: 10px;color: white;">

    <a href="/add-subject?id=<%= sector.id %>" target="_blank"> اضافه ماده </a>

    </h4>
    </div>
  <% subjects.forEach(function(subject){
    if(subject.sector_id == sector.id){
   %>

<div class="card">
<div class="card-header" id="heading<%= subject.id %>">
<h5 class="mb-0">
<button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#subjects<%= subject.id %>" aria-expanded="false" aria-controls="subjects<%= subject.id %>">
<h4 style="background-color: #594f82;text-align: center;border-radius: 10px;padding: 10px;color: white;"><%= subject.name %>
  <i id="<%= subject.id  %>" class="fa edit fa-pencil-square-o" type="subject" aria-hidden="true" what="name"></i>
<a style="color:red" href="/delete-subcategory?id=<%= subject.id  %>" onclick="return confirm('هل تريد حذف هذا القسم حقا !');">X</a>
</h4>
</button>
</h5>
</div>
<div id="subjects<%= subject.id %>" class="collapse" aria-labelledby="headingTwo" data-parent="#subjects">
<div class="card-body">





  <div class="btn btn-link collapsed" type="button" >
    <h4 style="background-color: #33b5bb;text-align: center;border-radius: 10px;padding: 10px;color: white;">

    <a href="/add-books?id=<%= subject.id %>" target="_blank">  اضافه ملزمه </a>

    </h4>
  </button>
  <button class="btn btn-link collapsed" type="button" data-toggle="collapse"  aria-expanded="false" aria-controls="notes">
    <h4 style="background-color: #33b5bb;text-align: center;border-radius: 10px;padding: 10px;color: white;">

  <a href="/add-video?sid=<%= subject.id %>" target="_blank"> اضف فيديو </a>
  </h4>
  </div>




<!--  videos -->


<div class="card row">
  <div style="" class="" id="heading">
      <button class="btn btn-link collapsed" type="button" >
          <h1>Videos </h1>
      </button>



  </div>



  <div id="video" class="collapse show" >
    <div class="card-body">
      <% videos.forEach((video)=>{
        if(video.sub_category == subject.id){

       %>

       <div class="btn btn-link collapsed" type="button"  data-target="" >
       <h3 style="color:white;background-color: #a76767;text-align: center;border-radius: 10px;padding: 10px;">
         <p><%= video.name %></p>
         <i id="<%= video.id  %>" class="fa edit fa-pencil-square-o" type="video" aria-hidden="true" what="name"></i>
         <p> السعر : <%= video.price %></p>
         <i id="<%= video.id  %>" class="fa edit fa-pencil-square-o" type="video" aria-hidden="true" what="price"></i>

         <p> التحميلات : <%= video.downloads %></p>
         <p> <a href="/add-coupon?id=<%= video.id %>" target="_blank">اضافه كوبون </a> </p>
         <a style="color:red" href="/delete-video?id=<%= video.id %>" onclick="return confirm('هل تريد حذف هذا القسم حقا !');">X</a>
       </h3>

       </div>

       <%
     }
   })
       %>



      </div>
    </div>

    </div>






  <!-- Notes Level -->
  <button class="btn btn-link collapsed" type="button"  aria-expanded="false" aria-controls="videos">
      <h1>Notes </h1>
  </button>
  <div style="margin-left:30px" >
    <% notes.forEach(function(note){
      if(note.subject_id == subject.id){
     %>


  <h5 class="mb-0">
  <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#notes<%= note.id %>" aria-expanded="false" aria-controls="notes<%= note.id %>">
  <h4 style="background-color: #33b5bb;text-align: center;border-radius: 10px;padding: 10px;color: white;">
      <p><%= note.name %></p>
    <i id="<%= note.id  %>" class="fa edit fa-pencil-square-o" type="note" aria-hidden="true" what="name"></i>
    <p> <%= note.descc %></p>
    <i id="<%= note.id  %>" class="fa edit fa-pencil-square-o" type="note" aria-hidden="true" what="descc"></i>
    <p>
    التوصيل : <%= note.deliver %><p/>
    <i id="<%= note.id  %>" class="fa edit fa-pencil-square-o" type="note" aria-hidden="true" what="deliver"></i>
    <p> السعر : <%= note.price %></p>
    <i id="<%= note.id  %>" class="fa edit fa-pencil-square-o" type="note" aria-hidden="true" what="price"></i>
    <p> التحميلات : <%= note.downloads %></p>

    <p>
<a style="color:red" href="/delete-book?id=<%= note.id  %>" onclick="return confirm('هل تريد حذف هذا الكتاب حقا !');">X</a>
</p>


  </h5>
  </button>
</h4>



  <% }}) %>



  <!-- Notes subjects -->

</div>



</div>
</div>
</div>

<% }}) %>
<!-- End subjects -->
</div>
</div>
</div>

<% }}) %>

</div>


<!-- EnD Sectors Level-->

      </div>
    </div>
  </div>

<% }) %>

</div>


















                             </div>
                           </div>
                         </div>




                  </div>






<%- include('parts/footer'); %>
